*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Whitney", sans-serif;
}
img{
    
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* margini */
.mb1{
    margin-top: 5em;
}
.mb2{
    margin-top: 9em;
}
/* struttura contenitore */
.container{
    width: 80%;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.clmn{
    float: left;
}

/* BOTTONI */
.butt-white{
    background-color: white;
    color: black;
}
.butt-black{
    background-color: black;
    color: white;
}
.butt-footer{
    background-color: #7289da;
    color: white;
    
}
.butt-small{
    padding: 0.6em 1em;
    border-radius: 50px;
    font-size: 0.9em;
}
.butt-big{
    display: inline-block;
    padding: 1em 2em;
    border-radius: 50px;
    font-size: 1.2ems;
}
/* Proprietà di testo */
.text{
    font-size: 1em;
    line-height: 1.6em;
    margin-top: 1.2em;
}
.title {
    font-size: 3em;
  }
/* HEADER */
header{
    height: 60px;
    background-color: #3161e0;
}
.header-nav{
    line-height: 60px;
    color: white;
}
.logo, .log-in{
    width: 15%;
}
.logo img{
    width: auto;
    height: 40px;
    vertical-align: middle;
}

.log-in{
    text-align: right;
}

.nav-center{
    width: 70%;
    text-align: center;
}

.nav-center .menu-nav li{
    margin-right: 1em;
    display: inline-block;

}

.nav-center .menu-nav a{
    font-size: 1em;
    font-weight: bold;
    color: inherit;
}

/* MAIN */
.banner{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8em 0;
}
.banner-content{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.banner-content .banner-title{
    font-size: 2.4em;
    margin-bottom: 0.9em;
}

.banner-content .buttons{
    margin-top: 2em;
}

.banner-content .buttons:first-child{
    margin-right: 1em;
}
.banner-title, .banner-text{
    color: white;
}

/* First section  */

.study{
    padding: 2em;
    margin-top: 5em;
}
.facile{
    background-color: #f6f6f6;
}
.clmn-img{
    width: 65%;
}
.text-clmn{
    width: 35%;
    margin-top: 2.5em;
    
}
/* footer */
footer{
    margin-top: 5em;
    background-color: #23272a;
    color: white;
}
footer .clearfix{
    clear: both;
}
.clmn2{
    float: right;
    margin-top: 0.5em;
}
hr{
    margin: 2em 0;
}
footer h2, hr{
    color: #7289da;
}
.socials{
    width: 30%;
}
.products, .company, .risorse, .norme{
    width: 15%;
}
h4.foot-mtitle{
    color: #7289da;
}