*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Whitney", sans-serif;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* struttura contenitore */
.container{
    width: 80%;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.clmn{
    float: left;
}
/* BOTTONI */
.butt-white{
    background-color: white;
    color: black;
}
.butt-black{
    background-color: black;
    color: white;
}
.butt-small{
    padding: 0.6em 1em;
    border-radius: 50px;
    font-size: 0.9em;
}
.butt-big{
    display: inline-block;
    padding: 1em 2em;
    border-radius: 50px;
    font-size: 1.2ems;
}
/* HEADER */
header{
    height: 60px;
    background-color: #3161e0;
}
.header-nav{
    line-height: 60px;
    color: white;
}
.logo, .log-in{
    width: 15%;
}
.logo img{
    width: auto;
    height: 40px;
    vertical-align: middle;
}

.log-in{
    text-align: right;
}

.nav-center{
    width: 70%;
    text-align: center;
}

.nav-center .menu-nav li{
    margin-right: 1em;
    display: inline-block;

}

.nav-center .menu-nav a{
    font-size: 1em;
    font-weight: bold;
    color: inherit;
}

/* MAIN */
.banner{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8em 0;
}
.banner-content{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.banner-content .banner-title{
    font-size: 2.4em;
    margin-bottom: 0.9em;
}

.banner-content .buttons{
    margin-top: 2em;
}

.banner-content .buttons:first-child{
    margin-right: 1em;
}
